@page
@model WebHTL.Pages.Areas.Admin.Career.CreateModel
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="card">
        <div class="card-title">
            <h4>Create Role</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="NewCareer.CareerName"></label>
                        <input asp-for="NewCareer.CareerName" class="form-control" required />
                        <span asp-validation-for="NewCareer.CareerName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewCareer.Major"></label>
                        <input asp-for="NewCareer.Major" class="form-control" required />
                        <span asp-validation-for="NewCareer.Major" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewCareer.CareerStatus"></label>
                        <input asp-for="NewCareer.CareerStatus" class="form-control" required />
                        <span asp-validation-for="NewCareer.CareerStatus" class="text-danger"></span>
                    </div>
                    <input class="btn btn-default" value="Submit" type="submit" />
                </form>
            </div>
        </div>
    </div>

</div>
