@page
@model WebHTL.Pages.Areas.Admin.CourseModule.CreateModel
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="card">
        <div class="card-title">
            <h4>Create Role</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="NewModule.Position"></label>
                        <input asp-for="NewModule.Position" class="form-control" required />
                        <span asp-validation-for="NewModule.Position" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewModule.ModuleName"></label>
                        <input asp-for="NewModule.ModuleName" class="form-control" required />
                        <span asp-validation-for="NewModule.ModuleName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewModule.ModuleTarget"></label>
                        <input asp-for="NewModule.ModuleTarget" class="form-control" required />
                        <span asp-validation-for="NewModule.ModuleTarget" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewModule.CourseId"></label>
                        <input asp-for="NewModule.CourseId" class="form-control" required />
                        <span asp-validation-for="NewModule.CourseId" class="text-danger"></span>
                    </div>
                    <input class="btn btn-default" value="Submit" type="submit" />
                </form>
            </div>
        </div>
    </div>

</div>