@page
@model WebHTL.Pages.Areas.Admin.Transaction.AddModel
@{
    Layout = "_AdminLayout";
}

<h1>Add Transaction</h1>

<form method="post">
    <h2>Transaction</h2>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Dto.Transaction.PaymentMethod"></label>
                <input asp-for="Dto.Transaction.PaymentMethod" class="form-control" />
                <span asp-validation-for="Dto.Transaction.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount"></label>
                <input type="number" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dto.Transaction.Message"></label>
                <input asp-for="Dto.Transaction.Message" class="form-control" />
                <span asp-validation-for="Dto.Transaction.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dto.Transaction.ReponseTime"></label>
                <input asp-for="Dto.Transaction.ReponseTime" class="form-control" />
                <span asp-validation-for="Dto.Transaction.ReponseTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Dto.Driver.StartTime"></label>
                <input asp-for="Dto.Driver.StartTime" class="form-control" type="date" />
                <span asp-validation-for="Dto.Driver.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dto.Driver.ExpectedEndTime"></label>
                <input asp-for="Dto.Driver.ExpectedEndTime" class="form-control" type="date" />
                <span asp-validation-for="Dto.Driver.ExpectedEndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dto.Driver.Type"></label>
                <input asp-for="Dto.Driver.Type" class="form-control" />
                <span asp-validation-for="Dto.Driver.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dto.RoadmapKeyId"></label>
                <input asp-for="Dto.RoadmapKeyId" class="form-control" />
                <span asp-validation-for="Dto.RoadmapKeyId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (!Model.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        Please correct the errors below.
        @Html.ValidationSummary()
    </div>
}