@page "{id}"
@model WebHTL.Pages.Profile.ProfileRoadMapModel
@{
    Layout = "_Layout";
}
@section head {
    <!-- Swiper CSS -->
}
@section Scripts {
    <script src="~/js/carousel.js"></script>

}
<style>
    .cards-wrapper {
        display: flex;
        justify-content: center;
    }

    .carousel-inner {
        padding: 1em;
        display: flex;
    }

    .carousel-item {
        display: block;
        margin-right: 0px;
        flex: 0 0 calc(100%/4);
    }

    .carousel-control-prev,
    .carousel-control-next {
        background-color: #e1e1e1;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<div class="wrapper">
    <div class="wrapper-slider">
        <section class="slick-slideshow" style="margin-top:0">

            <div class="slick-custom">
                <img src="/images/slideshow/team-meeting-renewable-energy-project.jpeg" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Lộ trình cho người mới bắt đầu với ngôn ngữ C#</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Bước đầu trên con đường sự nghiệp IT.</p>

                                <a href="" class="btn custom-btn">Trải nghiệm ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="wrapper-detailCombo" style="padding-top:30px; padding-bottom:0px;">
            <div class="fs-4 col-12 font-weight-bold text-center">
                <div class="wrapper-detailCombo__title">

                    <span style="margin-bottom:0px">Khu vực đầu tiên</span>

                </div>
            </div>
            <div class="slide-container">
                <div class="slide-content m-0">
                    <!-- Carouse -->
                    <div id="carouselExampleControls" class="carousel" data-ride="carousel" style="padding:0 40px">
                        <div class="carousel-inner">
                            @foreach (var sections in Model.Section.Select((value, i) => new { i, value }))
                            {
                                <div class="carousel-item @if(sections.i == 1){ Html.Raw("active");}" >
                                    <div class="card swiper-slide">
                                        <div class="image-content">
                                            <span class="overlay"></span>
                                            <div class="card-image">
                                                <div class="card-img" style="background:url(/images/basicweb.png) no-repeat center center">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <h2 class="name">@if (sections.value.CourseModel != null) { @sections.value.CourseModel.CourseName }</h2>
                                            <p class="description">@sections.value.Description</p>
                                            <a class="btn btn-primary" href="/Profile/ProfileCourse/@sections.value.CourseId"> View More</a>
                                        </div>
                                    </div>
                                </div>
                            }


                            @* <div class="carousel-item active">
                            <div class="card swiper-slide">
                            <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                            <div class="card-img" style="background:url(/images/basicweb.png) no-repeat center center">
                            </div>

                            </div>
                            </div>
                            <div class="card-content">
                            <h2 class="name">Bach Doan</h2>
                            <p class="description">Toi khong biet the nao, torng truong hop co co quan nao truy cuu web nay toi xin mien tru trach nhiem.</p>
                            <a href="/CoursePage"></a><button class="button">View more</button>
                            </div>
                            </div>
                            </div>
                            <div class="carousel-item ">
                            <div class="card swiper-slide">
                            <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                            <div class="card-img" style="background:url(/images/basicweb.png) no-repeat center center">
                            </div>
                            </div>
                            </div>
                            <div class="card-content">
                            <h2 class="name">Bach Doan</h2>
                            <p class="description">Toi khong biet the nao, torng truong hop co co quan nao truy cuu web nay toi xin mien tru trach nhiem.</p>
                            <a href="/CoursePage"></a><button class="button">View more</button>
                            </div>
                            </div>
                            </div>
                            <div class="carousel-item ">
                            <div class="card swiper-slide">
                            <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                            <div class="card-img" style="background:url(/images/basicweb.png) no-repeat center center">
                            </div>
                            </div>
                            </div>
                            <div class="card-content">
                            <h2 class="name">Bach Doan</h2>
                            <p class="description">Toi khong biet the nao, torng truong hop co co quan nao truy cuu web nay toi xin mien tru trach nhiem.</p>
                            <a href="/CoursePage"></a><button class="button">View more</button>
                            </div>
                            </div>
                            </div>
                            <div class="carousel-item ">
                            <div class="card swiper-slide">
                            <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                            <div class="card-img" style="background:url(/images/basicweb.png) no-repeat center center">
                            </div>
                            </div>
                            </div>
                            <div class="card-content">
                            <h2 class="name">Bach Doan</h2>
                            <p class="description">Toi khong biet the nao, torng truong hop co co quan nao truy cuu web nay toi xin mien tru trach nhiem.</p>
                            <a href="/CoursePage"></a><button class="button">View more</button>
                            </div>
                            </div>
                            </div>
                            <div class="carousel-item ">
                            <div class="card swiper-slide">
                            <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                            <div class="card-img" style="background:url(/images/basicweb.png) no-repeat center center">
                            </div>
                            </div>
                            </div>
                            <div class="card-content">
                            <h2 class="name">Bach Doan</h2>
                            <p class="description">Toi khong biet the nao, torng truong hop co co quan nao truy cuu web nay toi xin mien tru trach nhiem.</p>
                            <a href="/CoursePage"></a><button class="button">View more</button>
                            </div>
                            </div>
                            </div>
                            <div class="carousel-item ">
                            <div class="card swiper-slide">
                            <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                            <div class="card-img" style="background:url(/images/basicweb.png) no-repeat center center">
                            </div>
                            </div>
                            </div>
                            <div class="card-content">
                            <h2 class="name">Bach Doan</h2>
                            <p class="description">Toi khong biet the nao, torng truong hop co co quan nao truy cuu web nay toi xin mien tru trach nhiem.</p>
                            <a href="/CoursePage"></a><button class="button">View more</button>
                            </div>
                            </div>
                            </div> *@
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>




                </div>
            </div>
        </section>
        <section class="wrapper-sectionCourse" style="padding-top:30px; padding-bottom:30px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="fs-4 col-12 font-weight-bold text-center">
                        <div class="wrapper-detailCombo__title">

                            <span>Chi tiết Lộ trình</span>

                        </div>
                    </div>
                    <div class=" col-6">
                        <div class="wrapper-detailCombo__box-images p-relative">
                            <img src="/images/slideshow/team-meeting-renewable-energy-project.jpeg" alt=" Nhập môn C# FullStack" class="coverimg" style="aspect-ratio: 620 / 340;width:100%">
                            <div class="coursedetail_thumb_play js-video wrapper-detailCombo__box-images-play" data-rel="316" data-col="baiviet">
                                <span><i class="fa-solid fa-play"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class=" col-6">
                        <div class="wrapper-detailCombo__box-detail">
                            <div class="title mb20">
                                <h2> Nhập môn C# FullStack</h2>
                            </div>
                            <div class="info d-flex align-items-center gap-15 mb-30">
                                <span>Beginner</span>
                                <span>19</span>
                            </div>
                            <div class="content">
                                <p>
                                    <span style="font-family:raleway-regular;">
                                        Chào mừng bạn đến với khóa học "Nhập môn C# fullstack". Đây là khóa học lý tưởng cho những người mới bắt đầu và có mong muốn trở thành một kĩ sư máy tính. Chúng tôi đã hệ thống một lộ trình học từ nền tảng để giúp bạn xây dựng những kỹ năng cơ bản cho lập trình viên. Trọng tâm của khóa học là việc trau dồi kỹ năng xử lí và code, giúp bạn tự tin hơn khi khám phá thế giới của lĩnh vực vẽ IT. Hãy bắt đầu hành trình của bạn cùng chúng tôi ngay hôm nay!
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<style>
    .wrapper-detailCombo__box-detail > info > span {
        color: var(--html-cl-combo);
        font-size: 14px;
        font-family: var(--raleway-Bold),Arial, Helvetica, sans-serif;
        border-radius: 8px;
        border: 2px solid #222222;
        padding: 6px 16px;
    }

    .wrapper-detailCombo__title > span {
        display: inline-block;
        color: var(--html-cl-combo);
        font-size: 36px;
        font-family: var(--raleway-ExtraBold),Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        margin-bottom: 50px;
        line-height: 120%;
    }

    .wrapper-achievement__box {
        border: 1px solid #D9D9D9;
        padding: 15px 30px;
        border-radius: 16px;
        transition: all .4s;
    }

    .wrapper-programme {
        padding: 20px 0 60px;
        background-color: var(--html-bg-combo);
    }

    .wrapper-programme__title {
        font-size: 40px;
        color: var(--html-cl-combo);
        font-family: var(--raleway-ExtraBold),Arial, Helvetica, sans-serif;
        width: 800px;
        margin: auto;
        margin-bottom: 20px;
        line-height: 120%;
    }

    .wrapper-programme__content {
        color: #797979;
        font-size: 16px;
        width: 800px;
        margin: auto;
        margin-bottom: 40px;
    }

    .wrapper-programme__box {
        justify-content: space-around !important;
    }

        .wrapper-programme__box .number {
            color: var(--html-cl-combo);
            font-size: 48px;
            font-family: var(--raleway-ExtraBold),Arial, Helvetica, sans-serif;
        }

    .wrapper-sectionCourse {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EFEFEF;
    }

    .slide-container {
        /*        max-width: 1120px;*/
        width: 100%;
        justify-content: center;
        align-items: center;
        /*background-color: ;*/
        padding: 40px 0;
    }

    .slide-content {
    }

    .card {
        width: 280px;
        border-radius: 25px;
        background-color: #FFF;
    }

    .image-content, .card-content {
        /*display: flex;*/
        flex-direction: column;
        align-items: center;
        /* padding: 10px 14px;*/
    }

    .card-content {
        display: flex;
    }

    .image-content {
        row-gap: 5px;
        position: relative;
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        /* background-color: #4070F4;*/
        border-radius: 25px 25px 25px 25px;
    }

    /* .overlay::before,
                        .overlay::after {
                            content: '';
                            position: absolute;
                            right: 0;
                            bottom: -40px;
                            height: 40px;
                            width: 40px;
                            background-color: #4070F4;
                        }

                        .overlay::after {
                            border-radius: 0 25px 0 0;
                            background-color: #FFF;
                        }*/

    .card-image {
        position: relative;
        height: 150px;
        width: auto;
        /*border-radius: 50%;
                        background-color: #FFF;
                        padding: 3px;*/
    }

        .card-image .card-img {
            height: 100%;
            width: 100%;
            object-fit: fill;
            border-radius: 25px;
            background-size: cover !important;
            /*border: 4px solid #4070F4;*/
        }

    .name {
        font-size: 18px;
        font-weight: 500;
        color: #333;
    }

    .description {
        font-size: 14px;
        color: #707070;
        text-align: center;
    }

    .button {
        border: none;
        font-size: 16px;
        color: #FFF;
        padding: 8px 16px;
        background-color: #4070F4;
        border-radius: 6px;
        margin: 14px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

        .button:hover {
            background-color: #265DF2;
        }
</style>