@page
@model WebHTL.Pages.Profile.ProfileProductModel
@{
    Layout = "_LayoutProfile";
}
@section head{
    <link href="~/css/profile-page.css" rel="stylesheet" />
}
<section class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Khóa học của tôi</h3>
        </div>
    </div>
    <!-- End Bread crumb -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="mt20 pb10">
            <div class="wrapper-profile__bg wrapper-profile__activated">

                <table class="mt-3 w-100">
                    <thead style="text-align:center">
                        <tr>
                            <th>STT</th>
                            <th>HÌNH ẢNH KHÓA HỌC</th>
                            <th>TÊN KHÓA HỌC</th>
                            <th>THỜI LƯỢNG KHÓA HỌC</th>
                            <th style="text-align:center !important">TRẠNG THÁI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Foreach here!-->
                        <tr style="border-top: 1px solid black">
                            <td style="text-align:center">1</td>
                            <td style="text-align:center"><img src="~/images/BasicCshap.png" style="width:120px; height:auto; vertical-align: middle; border: 0;"></td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <div class="user-course">
                                        <p class="m-1" style="color:#F2B71A;font-weight:bold">ANIME 2: COLOR &amp; BACKGOUND DECORATION</p>
                                        <p class="m-1"><span class="ucourse-mobile_top_info_label">MÃ ĐƠN HÀNG:</span> DA85372</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <div class="user-course">
                                        <p class="m-1"><span class="user-course_author_label">BÀI GIẢNG: </span>13</p>
                                        <p class="m-1"><span class="user-course_author_label">THỜI LƯỢNG: </span>6H17P</p>
                                        <p class="m-1"><span class="user-course_author_label">Giảng viên: </span>TOUYA</p>
                                    </div>
                                </div>
                            </td>
                            <td  style="text-align:center !important">
                                <a class="wrapper-profile__activated-link" href="~/Profile/ProfileRoadMap">Vào học</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->
    <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
    <!-- End footer -->
</section>