@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}


<title>HTL - Forgot Password</title>

<main>

    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 mx-auto col-12">

                    <h1 class="hero-title text-center mb-5">Forgot Password</h1>

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form role="form" method="post">

                                <div class="form-floating mb-4 p-0">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>

                                    <label for="email">Email address</label>
                                </div>

                                <button type="submit" class="btn custom-btn form-control mb-3">
                                    Reset Password
                                </button>

                                <p class="text-center">Remembered your password? <a href="./SignIn">Sign In</a></p>

                            </form>
                            <p class="text-center">@Model.Message</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

</main>
