@page
@model WebHTL.Pages.HomePageModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hướng Tương Lai</title>

   
</head>

<body>
    

    <main>

        <section class="slick-slideshow">
            <div class="slick-custom">
                <img src="../images/slideshow/medium-shot-business-women-high-five.jpeg" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">HTL giúp bạn</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Kiến tạo công việc mơ ước</p>

                                <a href="" class="btn custom-btn">Trải nghiệm ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="../images/slideshow/team-meeting-renewable-energy-project.jpeg" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">HTL giúp bạn</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Kiến tạo công việc mơ ước.</p>

                                <a href="" class="btn custom-btn">Trải nghiệm ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slick-custom">
                <img src="../images/slideshow/two-business-partners-working-together-office-computer.jpeg" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">HTL giúp bạn</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Kiến tạo công việc mơ ước.</p>

                                <a href="" class="btn custom-btn">Trải nghiệm ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="about section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2 class="mb-5">Tại sao lại chọn <span>Hướng</span> Tương lai</h2>
                    </div>

                    <div class="col-lg-2 col-12 mt-auto mb-auto">
                        <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Giới thiệu về chúng tôi</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-youtube-tab" data-bs-toggle="pill" data-bs-target="#pills-youtube" type="button" role="tab" aria-controls="pills-youtube" aria-selected="true">?</button>
                            </li>

                            <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capabilites</button>
                            </li> -->
                        </ul>
                    </div>

                    <div class="col-lg-10 col-12">
                        <div class="tab-content mt-2" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <img src="../images/pim-chu-z6NZ76_UTDI-unsplash.jpeg" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">Hướng Tương Lai là gì?</h4>

                                            <p>
                                                Chào mừng bạn đến với trang web của chúng tôi - nơi cung cấp lộ trình học tập tuyệt vời để phát triển kỹ năng và kiến thức của bạn. Tại đây, chúng tôi cam kết mang đến cho bạn những khóa học chất lượng và được thiết kế một cách chặt chẽ để đáp ứng nhu cầu học tập của mọi đối tượng.
                                            </p>

                                            <p>Với danh mục đa dạng của chúng tôi, bạn có thể lựa chọn giữa các chủ đề khác nhau, từ lập trình, thiết kế đồ họa, quản lý dự án đến nghệ thuật sáng tạo và nhiều hơn nữa. Bạn sẽ được học từ các chuyên gia hàng đầu trong ngành và áp dụng kiến thức của mình thông qua các dự án thực tế.</p>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="pills-youtube" role="tabpanel" aria-labelledby="pills-youtube-tab">

                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <div class="ratio ratio-16x9">
                                            <img src="../images/pim-chu-z6NZ76_UTDI-unsplash.jpeg" class="img-fluid" alt="">
                                        </div>
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">?</h4>

                                            <p>?</p>

                                            <p>?</p>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                <div class="row">
                                    <div class="col-lg-7 col-12">
                                        <img src="images/cody-lannom-G95AReIh_Ko-unsplash.jpeg" class="img-fluid" alt="">
                                    </div>

                                    <div class="col-lg-5 col-12">
                                        <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                            <h4 class="mb-3">What can help you?</h4>

                                            <p>Over three years in business, We’ve had the chance on projects</p>

                                            <div class="skill-thumb mt-3">

                                                <strong>Branding</strong>
                                                    <span class="float-end">90%</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                        </div>

                                                <strong>Design & Stragety</strong>
                                                    <span class="float-end">70%</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                        </div>

                                                <strong>Online Platform</strong>
                                                    <span class="float-end">80%</span>
                                                        <div class="progress">
                                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                        </div>

                                            </div>

                                            <div class="mt-2 mt-lg-auto">
                                                <a href="products.html" class="custom-link mb-2">
                                                    Explore products
                                                    <i class="bi-arrow-right ms-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="front-product">
            <div class="container-fluid p-0">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-12">
                        <img src="../images/header/interview.jpg" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 col-12">
                        <div class="px-5 py-5 py-lg-0">

                            <h2 class="mb-4"> Đăng kí tư vấn <span>Ngay hôm nay</span></h2>

                            <p class="lead mb-4">Bạn đang phân vân về tương lai nghề nghiệp của bản thân, hãy để lại thông tin và HTL sẽ hỗ trợ bạn.</p>

                            <a href="" class="custom-link">
                                Các khóa học
                                <i class="bi-arrow-right ms-2"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="featured-product section-padding">
            <div class="container">
                <div class="row">

                    @*<div class="col-12 text-center">
                        <h2 class="mb-5">Một vài lộ trình học</h2>
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="">
                                <img src="../images/people/singer.jpg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert me-auto">Mới thêm</span>

                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="" class="product-title-link">Lộ trình học làm ca sĩ</a>
                                    </h5>


                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">$25</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="">
                                <img src="../images/people/lecturer.jpg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <span class="product-alert">Giá rẻ</span>

                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="" class="product-title-link">Lộ trình học làm giảng viên</a>
                                    </h5>


                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">$15</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="./product-detail.html">
                                <img src="../images/people/designer.jpg" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="./product-detail.html" class="product-title-link">Lộ trình học thiết kế đồ họa</a>
                                    </h5>

                                </div>

                                <small class="product-price text-muted ms-auto mt-auto mb-5">$20</small>
                            </div>
                        </div>
                    </div>
*@
                    <div class="col-12 text-center">
                        <a href="/products" class="view-all">Xem tất cả lộ trình</a>
                    </div>

                </div>
            </div>
        </section>

    </main>

    

    
</body>
</html>