@page
@model WebHTL.Pages.NewsModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Tooplate's Little Fashion - Products</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/slick.css" />
    <link rel="stylesheet" href="~/css/image.css" />

    <link href="~/css/tooplate-little-fashion.css" rel="stylesheet">

</head>
<body>


    <main>

        <header class="site-header section-padding d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-10 col-12">
                        <h1>
                            <span class="d-block text-primary">Tin tức</span>  
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section class="products section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/header/news.png" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                               

                                <a href="#" class="bi-heart-fill product-icon"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="Newsdetail" class="product-title-link">Mở bán lộ trình học Java 2024</a>

                                    </h5>
                                    <small class="product-price text-muted ms-auto">24/2/2024</small>
                                    <p class="product-p">Mở bán lộ trình học Java 2024</p>
                                </div>                            
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="productdetail">
                                <img src="images/header/news.png" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                               

                                <p href="#" class="bi-heart-fill product-icon ms-auto"></p>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="Newsdetail" class="product-title-link"> Mở bán lộ trình học lập trình C#</a>
                                    </h5>
                                    <small class="product-price text-muted ms-auto">22/2/2024</small>
                                    <p class="product-p">Lộ trình học lập trình C# cho người mới. </p>
                                </div>

                               
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12">
                        <div class="product-thumb">
                            <a href="htmlproductdetail">
                                <img src="images/header/news.png" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="Newsdetail" class="product-title-link">Thông báo bảo trì ngày 20/2/2024</a>
                                    </h5>
                                    <small class="product-price text-muted ms-auto">12/2/2024</small>
                                    <p class="product-p">Nâng cấp hệ thống ngày 20/2/2024. Nhấn vào để xem thông tin chi tiết. </p>
                                </div>

                                
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="productdetail">
                                <img src="images/header/news.png" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">


                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="Newsdetail" class="product-title-link">Thông báo bảo trì ngày 25/1/2024</a>
                                    </h5>
                                    <small class="product-price text-muted ms-auto">20/1/2024</small>
                                    <p class="product-p">Nâng cấp hệ thống ngày 25/1/2024. Nhấn vào để xem thông tin chi tiết.</p>
                                </div>

                              
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/header/news.png" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="Newsdetail" class="product-title-link"> Hướng dẫn Đăng kí , mua các lộ trình</a>
                                    </h5>
                                    <small class="product-price text-muted ms-auto">12/1/2024</small>
                                    <p class="product-p">Hướng dẫn Đăng kí , mua các lộ trình cho người mới bắt đầu.</p>
                                </div>

                           
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mb-3">
                        <div class="product-thumb">
                            <a href="product-detail.html">
                                <img src="images/header/news.png" class="img-fluid product-image" alt="">
                            </a>

                            <div class="product-top d-flex">
                                <a href="Newsdetail" class="bi-heart-fill product-icon ms-auto"></a>
                            </div>

                            <div class="product-info d-flex">
                                <div>
                                    <h5 class="product-title mb-0">
                                        <a href="productdetail" class="product-title-link"> Chương trình khuyến mãi ngày24/12/2023</a>
                                    </h5>
                                    <small class="product-price text-muted ms-auto">20/12/2023</small>
                                    <p class="product-p">chương trình khuyến mãi nhân dịp Giáng sinh</p>
                                </div>                       
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>


</body>
</html>