@page
@model WebHTL.Pages.NewsdetailModel
@{
}

<h1>Thông báo bảo trì ngày 20/2/2024</h1>
<img src="images/header/businesspeople-meeting-office-working.jpg" style= "max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;" />
<p>
    Kính gửi quý khách hàng/thành viên,
    </p>
<p>
    Chúng tôi xin trân trọng thông báo rằng vào 20/2/2024 lúc 10h đến 22h cùng ngày, chúng tôi sẽ tiến hành bảo trì hệ thống để cải thiện hiệu suất và đảm bảo tính ổn định của dịch vụ.

    Trong thời gian này, dịch vụ của chúng tôi có thể không hoạt động tạm thời hoặc có thể gặp sự gián đoạn ngắn. Chúng tôi rất xin lỗi về bất kỳ bất tiện nào có thể gây ra và xin vui lòng kiên nhẫn đợi cho đến khi bảo trì hoàn tất.
</p>

<p>
    Xin lưu ý rằng trong thời gian bảo trì, trang web/dịch vụ của chúng tôi có thể không sẵn có. Khi hoàn thành, chúng tôi sẽ cung cấp thông báo lại.

    Mọi thắc mắc hoặc yêu cầu hỗ trợ, vui lòng liên hệ với chúng tôi qua [Thông tin liên hệ].

    Xin cảm ơn sự thông cảm và hỗ trợ của quý khách hàng/thành viên trong thời gian này.
</p>
<p>
    Trân trọng,
</p>