@page
@model WebHTL.Pages.ProductDetailModel
@{
}
<div class="wrapper">
    <div class="wrapper-slider">
        <section class="slick-slideshow" style="margin-top:0">


            <div class="slick-custom">
                <img src="../images/slideshow/team-meeting-renewable-energy-project.jpeg" class="img-fluid" alt="">

                <div class="slick-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-10">
                                <h1 class="slick-title">Lộ trình cho người mới bắt đầu với ngôn ngữ C#</h1>

                                <p class="lead text-white mt-lg-3 mb-lg-5">Bước đầu trên con đường sự nghiệp IT.</p>

                                <a href="" class="btn custom-btn">Trải nghiệm ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="wrapper-detailCombo" style="padding-top:30px; padding-bottom:30px;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="fs-4 col-12 font-weight-bold text-center">
                        <div class="wrapper-detailCombo__title">

                            <span>Chi tiết Lộ trình</span>

                        </div>
                    </div>
                    <div class=" col-6">
                        <div class="wrapper-detailCombo__box-images p-relative">
                            <img src="../images/slideshow/team-meeting-renewable-energy-project.jpeg" alt=" Nhập môn C# FullStack" class="coverimg" style="aspect-ratio: 620 / 340;width:100%">
                            <div class="coursedetail_thumb_play js-video wrapper-detailCombo__box-images-play" data-rel="316" data-col="baiviet">
                                <span><i class="fa-solid fa-play"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class=" col-6">
                        <div class="wrapper-detailCombo__box-detail">
                            <div class="title mb20">
                                <h2> Nhập môn C# FullStack</h2>
                            </div>
                            <div class="info d-flex align-items-center gap-15 mb-30">
                                <span>Beginner</span>
                                <span>19</span>
                            </div>
                            <div class="content">
                                <p>
                                    <span style="font-family:raleway-regular;">
                                        Chào mừng bạn đến với khóa học "Nhập môn C# fullstack". Đây là khóa học lý tưởng cho những người mới bắt đầu và có mong muốn trở thành một kĩ sư máy tính. Chúng tôi đã hệ thống một lộ trình học từ nền tảng để giúp bạn xây dựng những kỹ năng cơ bản cho lập trình viên. Trọng tâm của khóa học là việc trau dồi kỹ năng xử lí và code, giúp bạn tự tin hơn khi khám phá thế giới của lĩnh vực vẽ IT. Hãy bắt đầu hành trình của bạn cùng chúng tôi ngay hôm nay!
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper-achievement wrapper-detailComboBox">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="wrapper-detailCombo__title">

                            <span>Bạn sẽ làm được gì sau lộ trình này</span>

                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="wrapper-achievement__box d-flex gap50 gap15-m gap15-tl wrapper-achievement__box-hover">
                            <div class="wrapper-achievement__images">
                                <img src="~/images/icon-but.webp" alt="Nắm Vững Kỹ Thuật Thiết Kế Chính Xác" width="120" height="150" class="coverimg" style="aspect-ratio: 120 / 150;">
                            </div>
                            <div class="wrapper-achievement__detail flex-1">
                                <div class="title line-2">
                                    Nắm Vững Kỹ Thuật Lập Trình Web Chính Xác
                                </div>
                                <div class="content line-5">
                                    Khóa học này trang bị cho bạn kỹ năng cơ bản trong bảo trì webapp. Bạn sẽ học cách sử dụng các kiến trúc thông dụng, nắm vững kỹ thuật vẽ code chính xác, và đặt nền móng cho tác phẩm nghệ thuật của bạn. Những kỹ năng thiết yếu này rất quan trọng trong việc làm cho các tác phẩm anime của bạn trở nên sống động.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="wrapper-achievement__box d-flex gap50 gap15-m gap15-tl wrapper-achievement__box-hover">
                            <div class="wrapper-achievement__images">
                                <img src="~/images/icon-nguoi.webp" alt="Kỹ Năng Mô Tả Các Bộ Phận Cơ Thể Nhân Vật Anime" width="120" height="150" class="coverimg" style="aspect-ratio: 120 / 150;">
                            </div>
                            <div class="wrapper-achievement__detail flex-1">
                                <div class="title line-2">
                                    Kỹ Năng Mô Tả Các Bộ Phận Cơ Thể Nhân Vật Anime
                                </div>
                                <div class="content line-5">
                                    Khóa học này phân tích và áp dụng các bộ phận cơ thể nhân vật anime, như mắt, mũi, miệng, tay, tóc,... Khóa học cung cấp hướng dẫn chi tiết về cách vẽ và mô tả chi tiết những phộ phận chính này để tạo ra những nhân vật rõ nét và biểu cảm sống động.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="wrapper-achievement__box d-flex gap50 gap15-m gap15-tl wrapper-achievement__box-hover">
                            <div class="wrapper-achievement__images">
                                <img src="~/images/icon-giotnuoc.webp" alt="Trang Bị Kỹ Năng Sử Dụng Phần Mềm" width="120" height="150" class="coverimg" style="aspect-ratio: 120 / 150;">
                            </div>
                            <div class="wrapper-achievement__detail flex-1">
                                <div class="title line-2">
                                    Trang Bị Kỹ Năng Sử Dụng Phần Mềm
                                </div>
                                <div class="content line-5">
                                    Khóa học trang bị cho bạn kỹ năng sử dụng phần mềm MediBang Paint Pro để hỗ trợ hành trình vẽ nhân vật anime của bạn. Học cách sử dụng công cụ một cách hiệu quả, làm cho quá trình sáng tạo của bạn trở nên mượt mà và thú vị hơn.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb20">
                        <div class="wrapper-achievement__box d-flex gap50 gap15-m gap15-tl wrapper-achievement__box-hover">
                            <div class="wrapper-achievement__images">
                                <img src="~/images/icon-tucgian.webp" alt="Cách Vẽ Từng Bộ Phận Khuôn Mặt Anime" width="120" height="150" class="coverimg" style="aspect-ratio: 120 / 150;">
                            </div>
                            <div class="wrapper-achievement__detail flex-1">
                                <div class="title line-2">
                                    Cách Vẽ Từng Bộ Phận Khuôn Mặt Anime
                                </div>
                                <div class="content line-5">
                                    Khóa học này sẽ hướng dẫn bạn cách vẽ từng chi tiết trên khuôn mặt như khuôn mặt ở các góc độ, mắt, mũi, miệng... dưới dạng đen trắng. Từ đó bạn có thể thỏa sức sáng tạo ra các dạng khuôn mặt anime ở nhiều góc độ, với các hình dáng khuôn mặt khác nhau.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper-programme" id="programme-combo">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="wrapper-detailCombo__title">
                            <span>Chương trình học</span>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="wrapper-programme__title">
                            Lộ trình học ngôn ngữ C# định hướng FullStack
                        </div>
                        <div class="wrapper-programme__content">
                            <p><span style="font-family:raleway-regular;">Chào mừng bạn đến với khóa học "Anime 1: Sketch &amp; Lineart". Đây là khóa học lý tưởng cho những người mới bắt đầu và có mong muốn trở thành họa sĩ vẽ anime. Chúng tôi đã hệ thống một lộ trình học từ nền tảng để giúp bạn xây dựng những kỹ năng cơ bản cho một họa sĩ anime. Trọng tâm của khóa học là việc trau dồi kỹ năng sketch và lineart, giúp bạn tự tin hơn khi khám phá thế giới của lĩnh vực vẽ anime. Hãy bắt đầu hành trình nghệ thuật của bạn cùng chúng tôi ngay hôm nay!</span></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="wrapper-programme__box d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <div class="number">
                                    20
                                </div>
                                <div class="title">
                                    Check Point
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="number">
                                    1 Tháng
                                </div>
                                <div class="title">
                                    Thời gian lộ trình
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="number">
                                    4
                                </div>
                                <div class="title">
                                    Số khóa học
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper-courses" >
            <div class="container">
                <div class="row justify-content-center">
                    <div class="row col-12 text-center">
                        <div class="wrapper-detailCombo__title">
                            <span>Danh sách khóa học</span>
                        </div>

                        <div class="col-lg-4 col-4 mb-3">
                            <div class="product-thumb">
                                <a href="">
                                    <img src="~/images/BasicCshap.png" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-top d-flex">
                                    <span class="product-alert me-auto">Công nghệ mới</span>

                                    <a href="#" class="bi-heart-fill product-icon"></a>
                                </div>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="" class="product-title-link">Lập trình ngôn ngữ C# cơ bản</a>
                                        </h5>


                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">4 Checkpoint</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-4 mb-3">
                            <div class="product-thumb">
                                <a href="">
                                    <img src="~/images/sql.png" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-top d-flex">
                                    <span class="product-alert">Công nghệ mới</span>

                                    <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                                </div>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="" class="product-title-link">Hướng đối tượng và SQL</a>
                                        </h5>


                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">7 Checkpoint</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-4">
                            <div class="product-thumb">
                                <a href="./product-detail">
                                    <img src="~/images/basicweb.png" class="img-fluid product-image" alt="">
                                </a>

                                <div class="product-top d-flex">
                                    <a href="#" class="bi-heart-fill product-icon ms-auto"></a>
                                </div>

                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="./product-detail.html" class="product-title-link">Web cơ bản cho người mới</a>
                                        </h5>

                                    </div>

                                    <small class="product-price text-muted ms-auto mt-auto mb-5">3 Checkpoint</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 text-center">
                            <a href="" class="view-all">Xem tất cả khóa học</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
    </div>
</div>
<style>
    .wrapper-detailCombo__box-detail > info > span {
        color: var(--html-cl-combo);
        font-size: 14px;
        font-family: var(--raleway-Bold),Arial, Helvetica, sans-serif;
        border-radius: 8px;
        border: 2px solid #222222;
        padding: 6px 16px;
    }

    .wrapper-detailCombo__title > span {
        display: inline-block;
        color: var(--html-cl-combo);
        font-size: 36px;
        font-family: var(--raleway-ExtraBold),Arial, Helvetica, sans-serif;
        text-transform: capitalize;
        margin-bottom: 50px;
        line-height: 120%;
    }

    .wrapper-achievement__box {
        border: 1px solid #D9D9D9;
        padding: 15px 30px;
        border-radius: 16px;
        transition: all .4s;
    }

    .wrapper-programme {
        padding: 20px 0 60px;
        background-color: var(--html-bg-combo);
    }

    .wrapper-programme__title {
        font-size: 40px;
        color: var(--html-cl-combo);
        font-family: var(--raleway-ExtraBold),Arial, Helvetica, sans-serif;
        width: 800px;
        margin: auto;
        margin-bottom: 20px;
        line-height: 120%;
    }

    .wrapper-programme__content {
        color: #797979;
        font-size: 16px;
        width: 800px;
        margin: auto;
        margin-bottom: 40px;
    }

    .wrapper-programme__box {
        justify-content: space-around !important;
    }

        .wrapper-programme__box .number {
            color: var(--html-cl-combo);
            font-size: 48px;
            font-family: var(--raleway-ExtraBold),Arial, Helvetica, sans-serif;
        }


        
</style>