@page
@model WebHTL.Pages.ProductRoadmapModel
@{
    Layout = "_Layout";
}
<div class="d-flex gap-8 pb-4 m-5-30" style="margin-top:120px">
    <div class="w-25 hidden d-block card"> 
        <div class="card-header">
            <p class="card-title">Section</p>
        </div>
        <div class="card-body">
            <ul>
                <li>
                    <a href="#"> Giai đoạn 1 : Hiểu được thứ mình muốn làm </a>
                </li>
                <li>
                    <a href="#">Giai đoạn 2 : Làm quen với giao diện ứng dụng</a>
                </li>
                <li>
                    <a href="#">Giai đoạn 3 : Con số không - những dòng code khởi đầu</a>
                </li>
                <li>
                    <a href="#">Giai đoạn 4 : Tìm hiểu về cách máy tính vận hành</a>
                </li>
                <li>
                    <a href="#">Giai đoạn 5 : Tư duy hệ thống và kĩ năng giải quyết vấn đề</a>
                </li>
                <li>
                    <a href="#">Giai đoạn 6 : Tư duy hệ thống và kĩ năng giải quyết vấn đề</a>
                </li>
                <li>
                    <a href="#">Giai đoạn 7 : Tư duy hệ thống và kĩ năng giải quyết vấn đề</a>
                </li>
                <li>
                    <a href="#">Giai đoạn 8 : Tư duy hệ thống và kĩ năng giải quyết vấn đề</a>
                </li>
                <li>
                    <a href="#">Giai đoạn 9 : Tư duy hệ thống và kĩ năng giải quyết vấn đề</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-75 card d-block">
        <div class="card-header">
            <h3> 1. Hiểu được thứ mình muốn làm!</h3>
            <p> Giai đoạn mầm non mẫu giáo, Tiếp cận công nghệ</p>
            <p> Tình trạng: Chưa học</p>
        </div>
        <div class="card-body">
            <h2> Viết mô tả và thông tin ở đây</h2>
            <p> Giai đoạn mầm non mẫu giáo, Tiếp cận công nghệ</p>

        </div>
    </div>
</div>