@page
@model WebHTL.Pages.ProfileProductModel
@{
    Layout = "_LayoutProfile";
}
@section head{
    <link href="~/css/profile-page.css" rel="stylesheet" />
}
<section class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Khóa học của tôi</h3>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="mt20 pb10">
                    <div class="wrapper-profile__bg wrapper-profile__activated">

                        <div class="course-tbl mt-3">
                            <ul class="course-th list">
                                <li>STT</li>
                                <li>HÌNH ẢNH KHÓA HỌC</li>
                                <li>TÊN KHÓA HỌC</li>
                                <li>THỜI LƯỢNG KHÓA HỌC</li>
                                <li>TRẠNG THÁI</li>
                            </ul>
                            <ul class="course-tr list">
                                <li>1</li>
                                <li><img src="upload/baiviet/anime-2-color-background-decoration-1147.webp"></li>
                                <li>
                                    <div class="user-course">
                                        <p class="user-course_label">ANIME 2: COLOR &amp; BACKGOUND DECORATION</p>
                                        <p class="ucourse-mobile_top_info"><span class="ucourse-mobile_top_info_label">MÃ ĐƠN HÀNG:</span> DA85372</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-course">
                                        <p class="user-course_info"><span class="user-course_author_label">BÀI GIẢNG: </span>13</p>
                                        <p class="user-course_info"><span class="user-course_author_label">THỜI LƯỢNG: </span>6H17P</p>
                                        <p class="user-course_info"><span class="user-course_author_label">Giảng viên: </span>TOUYA</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="wrapper-profile__activated-link" href="account?src=learning&amp;course=anime-color-and-backgound-decoration">Vào học</a>
                                </li>
                            </ul>

                            <ul class="course-tr list">
                                <li>2</li>
                                <li><img src="upload/baiviet/anime-1-lineart-sketch-2117.webp"></li>
                                <li>
                                    <div class="user-course">
                                        <p class="user-course_label"> ANIME 1: SKETCH &amp; LINEART</p>
                                        <p class="ucourse-mobile_top_info"><span class="ucourse-mobile_top_info_label">MÃ ĐƠN HÀNG:</span> DA85372</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-course">
                                        <p class="user-course_info"><span class="user-course_author_label">BÀI GIẢNG: </span>19</p>
                                        <p class="user-course_info"><span class="user-course_author_label">THỜI LƯỢNG: </span>7H45P</p>
                                        <p class="user-course_info"><span class="user-course_author_label">Giảng viên: </span>Touya</p>
                                    </div>
                                </li>
                                <li>
                                    <a class="wrapper-profile__activated-link" href="account?src=learning&amp;course=anime-sketch-and-lineart">Vào học</a>
                                </li>
                            </ul>


                        </div>


                    </div>
                </div>
      
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
            <!-- End footer -->
        </section>