@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<title>HTL - Reset Password</title>

<main>

    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 mx-auto col-12">

                    <h1 class="hero-title text-center mb-5">Reset Password</h1>
                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                    {
                        <p class="text-center text-danger">@Model.ErrorMessage</p>
                    }

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form method="post">
                                @Html.AntiForgeryToken()
                                <input hidden asp-for="Email" readonly/>
                                <div class="form-floating mb-4 p-0">
                                    <input type="password" asp-for="NewPassword" id="NewPassword" class="form-control" placeholder="New Password" required>
                                    <label for="password">New Password</label>
                                </div>

                                <div class="form-floating mb-4 p-0">
                                    <input type="password" name="confirmPassword" id="ConfirmPassword" class="form-control" placeholder="Confirm Password" required>

                                    <label for="confirmPassword">Confirm Password</label>
                                </div>
                                <div class="form-floating mb-4 p-0">
                                    <input type="text" asp-for="Token" id="otp" class="form-control" placeholder="OTP" required>
                                    <label for="otp">Enter the OTP sent to your email</label>
                                </div>
                                <button type="submit" class="btn custom-btn form-control mb-3">
                                    Update Password
                                </button>
                                <p class="text-center">Remembered your password? <a href="/SignIn">Sign In</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>document.querySelector('form').onsubmit = function (e) {
    var password = document.getElementById('NewPassword').value;
    var confirmPassword = document.getElementById('ConfirmPassword').value;
        if (password !== confirmPassword) {
            alert('Passwords do not match.');
            e.preventDefault();
            return false;
        }
        return true;
        };
</script>