@page
@model WebHTL.Pages.ResetPasswordModel
@{
}
<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>
    <section class="sign-in-form section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto col-12">
                    <h1 class="hero-title text-center mb-5">Reset Password</h1>

                    <div class="row">
                        <div class="col-lg-8 col-11 mx-auto">
                            <form role="form" method="post">
                                @{
                                    switch (Model.RSState)
                                    {
                                        case 0:
                                            <div class="form-floating">
                                                <input type="email" asp-for="Email" class="form-control" placeholder="Email address" required>
                                                <label asp-for="Email">Email address</label>
                                            </div>
                                            <button type="submit" class="btn custom-btn form-control mt-4 mb-3">Reset Password</button>
                                            break;
                                        case 1:
                                            <div class="form-floating">
                                                <input type="number" asp-for="ResetPasswordOtp" class="form-control" placeholder="OTP" required>
                                                <label asp-for="ResetPasswordOtp">Otp</label>
                                            </div>
                                            <button type="submit" class="btn custom-btn form-control mt-4 mb-3">Submit OTP</button>
                                            break;
                                        case 2:
                                            <div class="form-floating">
                                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>
                                                <label asp-for="Password">Password</label>
                                            </div>
                                            <div class="form-floating">
                                                <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Password Confirm" required>
                                                <label asp-for="PasswordConfirm">Password Confirm</label>
                                            </div>
                                            <button type="submit" class="btn custom-btn form-control mt-4 mb-3">Reset Password</button>
                                            break;

                                    }
                                }



                                <p class="text-center">Already have an account? Please <a href="signin">Sign In</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
