@page
@model WebHTL.Pages.SignInModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>HTL - Sign In</title>

</head>
<body>
    <main>
        <section class="sign-in-form section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto col-12">

                        <h1 class="hero-title text-center mb-5">Sign In</h1>
                        @if (TempData["Message"] != null)
                        {
                            <p class="alert alert-success">@TempData["Message"]</p>
                        }
                        <div class="col-lg-8 col-11 mx-auto">
                            <form role="form" method="post">

                                <div class="form-floating mb-4 p-0">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>

                                    <label for="email">Email address</label>
                                </div>

                                <div class="form-floating p-0">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

                                    <label for="password">Password</label>
                                </div>
                                <p class="text-right">
                                    <a href="./ForgotPassword">Forgot password?</a>
                                </p>

                                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                    Sign in
                                </button>

                                <p class="text-center">Don’t have an account? <a href="./SignUp">Create One</a></p>
                            </form>
                            @if (!string.IsNullOrEmpty(Model.Message))
                            {
                                <p class="text-center" style="color:red">@Model.Message</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>