@page
@model WebHTL.Pages.Areas.Admin.Account.CreateModel
@{
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="card">
        <div class="card-title">
            <h4>Create Role</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="NewAccount.Email"></label>
                        <input asp-for="NewAccount.Email" class="form-control" required />
                        <span asp-validation-for="NewAccount.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewAccount.Password"></label>
                        <input asp-for="NewAccount.Password" type="password" class="form-control" required />
                        <span asp-validation-for="NewAccount.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewAccount.UserName"></label>
                        <input asp-for="NewAccount.UserName" class="form-control" required />
                        <span asp-validation-for="NewAccount.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewAccount.Phone"></label>
                        <input asp-for="NewAccount.Phone" class="form-control" required />
                        <span asp-validation-for="NewAccount.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewAccount.Role"></label>
                        <input asp-for="NewAccount.Role" class="form-control" required />
                        <span asp-validation-for="NewAccount.Role" class="text-danger"></span>
                    </div>
                    <input class="btn btn-default" value="Submit" type="submit" />
                </form>
            </div>
        </div>
    </div>

</div>
